
h1{
    align-items: center;
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}

#input {
  text-align: center;
}

#button {
  margin-left: 0px;
  text-align: left;
}

#button1:hover {
  background-color: #f190e4;
  color: rgb(56, 14, 85);
  cursor: pointer;
}

#m {
  text-align: right;
  margin-right: 0px;
}

#search_box input {
    outline: none;
  border: none;
  border-radius: 40px;
  padding: 10px;
  width: 100%;
  color: black;
}

input:focus {
  box-shadow: 0 0 5px orange;
  border: 1px solid orange;
}

#search_box i {
    outline: none;
    border: none;
    border-radius: 40px;
    padding: 10px;
    margin-left: 40px;
    width: 150px;
    background-color: #112a6e;
    cursor: pointer;
    color: white;
}

.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

